# Dependencies
node_modules

# System Files
.DS_Store

# Optional npm cache directory
.npm

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variables file
.env